<a href="https://colab.research.google.com/github/David6230/Proyeccion_ventas/blob/main/Proyecto_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Opciones de bases de datos para el proyecto.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_1 = pd.read_csv("/exams.csv")
df_1.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86

# Primera opción: conjunto de datos 1 
## 1) Fuente de datos 
La fuente de los datos es tomada de Kaggle.

## 2) Breve descripción de datos 
El conjunto de datos contiene información sobre el rendimiento de los estudiantes de secundaria en matemáticas, incluidas sus calificaciones e información demográfica. Los datos se recopilaron de tres escuelas secundarias en los Estados Unidos.

## 3) ¿Cuál es el objetivo? 
Predecir el rendimiento en matemáticas de un estudiante con base en sus características intrínsecas.


## 4) ¿Este es un problema de clasificación o regresión? 
Es un problema de regresión.

## 5) ¿Cuántas características hay? 
Existen 7 características de los estudiantes.

## 6) ¿Cuántas filas de datos hay? 
Existen 1000 filas

## 7) ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos

Se debe hacer un buen tratamiento de la base de datos para poder obtener una buena predicción, ya que se busca modelar una regresión lineal.

# Segunda opción de base de datos

In [ ]:
df_2 = pd.read_csv("/heart.csv")
df_2.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# Segunda opción: conjunto de datos 2 

## 1) Fuente de datos 
La fuente de los datos es tomada de Kaggle.

## 2) Breve descripción de datos 
El conjunto de datos contiene información ataques cardiacos y las características de los individuos que los sufrieron.

## 3) ¿Cuál es el objetivo? 
Clasificar los tipos de ataques cardiacos con base en las características de las personas que los han sufrido. 

## 4) ¿Este es un problema de clasificación o regresión? 
Es un problema de clasificación

## 5) ¿Cuántas características hay? 
Existen 14 características de los pacientes.

## 6) ¿Cuántas filas de datos hay? 
Existen 303 filas

## 7) ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos
Se debe hacer un buen tratamiento de la base de datos para poder obtener una buena clasificación, ya que se busca modelar un buen modelo que nos permita clasificar los tipos de ataques al corazón.